@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    color: white;
}
