@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    color: white;
}

body{
    background-color: #1e1e1e;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-weight: 900;
    font-size: 35px;
    margin-left: 40px;
}

.logo a:hover{
    color: aqua;
    transition: .5s;

}

ul{
    display: flex;
}

li{
    margin: 20px;
    padding: 10px;
}
